* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.header {
  background: url(img/background/start-page.jpg) center / cover no-repeat;
  height: 1000px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.header_logo {
  background: url(img/logo.png) center no-repeat;
}

.header_text {
  color: white;
  text-align: center;
  margin-top: 60px;
}

.header_text > h1 {
  border-bottom: 2px solid white;
  display: inline;
  padding-bottom: 20px;
}

.header_text > p {
  margin-top: 40px;
}

.header_butt {
  color: white;
  text-align: center;
}

.header_butt > .read_more {
  border: 2px solid white;
  padding: 10px 40px;
  display: inline;
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.header_butt > .read_more:hover {
  background: white;
  color: black;
  transition: 0.3s linear;
}
.strel {
  background: url(img/arrow-down.png) center no-repeat;
  height: 100px;
  margin-top: 100px;
}
