* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  background: url(img/background/start-page.jpg) center / cover no-repeat;
  height: 1000px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.header_logo {
  background: url(img/logo.png) center no-repeat;
}

.header_text {
  color: white;
  text-align: center;
  margin-top: 60px;
}

.header_text > h1 {
  border-bottom: 2px solid white;
  display: inline;
  padding-bottom: 20px;
}

.header_text > p {
  margin-top: 40px;
}

.header_butt {
  color: white;
  text-align: center;
}

.header_butt > .read_more {
  border: 2px solid white;
  padding: 10px 40px;
  display: inline;
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.header_butt > .read_more:hover {
  background: white;
  color: black;
  transition: 0.3s linear;
}
.strel {
  background: url(img/arrow-down.png) center no-repeat;
  height: 100px;
  margin-top: 100px;
}

.nav {
  max-width: 1080px;
  margin: 0 auto;
  height: 1000px;
}

.nav_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ada074;
}

.nav_link > a {
  text-decoration: none;
  color: black;
  margin-left: 50px;
}

.nav_link > a:hover {
  color: #ada074;
  font-weight: 800;
}

.onepage > h1 {
  font-size: 30px;
}

.about {
  text-align: center;
  margin-top: 150px;
}

.about > h1 {
  font-size: 40px;
  border-bottom: 2px solid black;
  display: inline;
  padding-bottom: 30px;
}

.about > p {
  color: #bcbcbc;
  padding-top: 50px;
}

.block_nav {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

.block_nav > div {
  text-align: center;
  padding-top: 50px;
}
.respon {
  background: url(img/icons/responsive.png) center no-repeat;
}
.respon > h1 {
  padding-top: 150px;
  font-size: 35px;
}

.respon > p {
  font-size: 16px;
}

.minimal {
  background: url(img/icons/minimalist.png) center no-repeat;
}

.minimal > h1 {
  padding-top: 150px;
  font-size: 35px;
}

.minimal > p {
  font-size: 16px;
}

.fleeb {
  background: url(img/icons/free.png) center no-repeat;
}

.fleeb > h1 {
  padding-top: 150px;
  font-size: 35px;
}
.fleeb > p {
  font-size: 16px;
}

.text_port {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
  padding-top: 150px;
  border-bottom: 2px solid black;
  padding-bottom: 15px;
}

.portfolio {
  height: 1800px;
  background: #f3f3f3;
}

.port_link {
  max-width: 1080px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'port_link1 port_link2 port_link3'
    'port_link4 port_link5 port_link6'
    'port_link7 port_link8 port_link9'
    'port_link10 port_link11 .';
  text-align: center;
}

.port_link1,
.port_link2,
.port_link3 {
  margin-top: 150px;
}

.batt_read {
  text-align: center;
  padding-top: 110px;
}
.readd {
  border: 2px solid black;
  padding: 10px 40px;
  display: inline;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.readd:hover {
  background: black;
  color: white;
  transition: 0.3s linear;
}

.partners {
  background: url(img/background/partners.jpg) center no-repeat;
  height: 400px;
  text-align: center;
  color: white;
}

.text_partners {
  margin: 0;
  padding-top: 100px;
}

.img_partners {
  text-align: center;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  padding-top: 70px;
}

.footer {
  height: 300px;
  background: #3c3c3c;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.footer_logo {
  background: url(img/logo-footer.png) center no-repeat;
  margin-top: 44px;
}

.footer_text {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}

.footer_text > a {
  color: #a4a4a4;
  text-decoration: none;
  margin-left: 10px;
}

.footer_text > a:hover {
  color: white;
}

.footer_ft {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
  color: #767676;
}
